* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top, #87cefa, #ffffff);
  overflow: hidden;
  font-family: sans-serif;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
